<!DOCTYPE html>
<html>
<head>
    <title>EliteDrive - Applications</title>
</head>
<body>
    <h1>Membership Applications</h1>

    <table border="1">
        <tr>
            <th>Application ID</th>
            <th>Applicant Name</th>
            <th>Sponsor ID</th>
        </tr>
        {{#applications}}
        <tr>
            <td>{{applicationId}}</td>
            <td>{{applicantName}}</td>
            <td>{{sponsorMemberId}}</td>
        </tr>
        {{/applications}}
    </table>

    <br>
    <a href="/applications/add">New Application</a>
    <br>
    <a href="/">Home</a>
</body>
</html>