<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EliteDrive - Branches</title>
</head>
<body>
<h1>Branch List</h1>

<table border="1">
    <tr>
        <th>Branch ID</th>
        <th>City</th>
        <th>Address</th>
        <th>Manager</th>
    </tr>
    {{#branches}}
    <tr>
        <td>{{branchID}}</td>
        <td>{{city}}</td>
        <td>{{address}}</td>
        <td>{{branchManager}}</td>
    </tr>
    {{/branches}}
</table>

<br>
<a href="/branches/add">Add New Branch</a>
<br>
<a href="/">Back to Home</a>
</body>
</html>